<% content_for :title do %>My Fun Page- About<% end %>

<div class="large-12 columns text-center">
  <h2>ABOUT US</h2>
  <hr/>
</div>

<div class="large-6 columns">
  <%= image_tag "250px-Cavendish_beach.jpg" %>
</div>

<div class="large-6 columns">
  <p>Cavendish (2011 pop.: 266) is a Canadian unincorporated rural community in the township of Lot 23, Queens County, Prince Edward Island.</p>

  <p> The community's primary industries are tourism and agriculture supporting a very small year-round population. Cavendish is the largest seasonal resort area in Prince Edward Island with an average daily population in the months of July and August of approximately 7,500 residents.</p>
</div>

