<% content_for :title do %>My Fun Page- Contact Us<% end %>

<div class="row">
  <div class="large-12 columns">
    <h1>Contact Us</h1>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
