<% content_for :title do %>My Fun Page<% end %>

<div class=row>
  <div class="large-12 columns">
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:2500">
      <li><img src="http://lorempixel.com/1000/400/people/1" />
      <li><img src="http://lorempixel.com/1000/400/people/2" />
      <li><img src="http://lorempixel.com/1000/400/people/3" />
      <li><img src="http://lorempixel.com/1000/400/people/6" />
    </ul>
    <hr/>
  </div>
 </div>

<div class="row">
  <div class="large-4 columns">
    <img src="http://lorempixel.com/400/300/technics/1"/>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  <div class="large-4 columns">
    <img src="http://lorempixel.com/400/300/technics/2"/>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  <div class="large-4 columns">
    <img src="http://lorempixel.com/400/300/technics/3"/>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>

    </div>
  </div>
</div>
