<% content_for :title do %>My Fun Page- Not available<% end %>

<div class="row">
  <div class="large-12 columns text-center">
    <h2>ABOUT US</h2>
    <hr/>
  </div>
</div>

<div class="row">
  
  <div class="large-6 columns">
    <p>Sorry, the page you're looking for is currently unavailable.</p>
  </div>
</div>

