<% content_for :title do %>My Fun Page- Services<% end %>

<div class="large-12 columns text-center">
  <h2>SERVICES</h2>
  <hr/>
</div>

<div class="large-4 columns">
  <ul class="pricing-table">
    <li class="title">Standard</l>
    <li class="price">$99.99</li>
    <li class="description">An awesome description</li>
    <li class="bullet-item">1 Database</li>
    <li class="bullet-item">5GB Storage</li>
    <li class="bullet-item">20 Users</li>
    <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
  </ul>  
</div>

<div class="large-4 columns">
  <ul class="pricing-table">
    <li class="title">Enhanced</l>
    <li class="price">$499.99</li>
    <li class="description">An awesome description</li>
    <li class="bullet-item">3 Database</li>
    <li class="bullet-item">20GB Storage</li>
    <li class="bullet-item">30 Users</li>
    <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
  </ul>  
</div>

<div class="large-4 columns">
  <ul class="pricing-table">
    <li class="title">Pro</l>
    <li class="price">$999.99</li>
    <li class="description">An awesome description</li>
    <li class="bullet-item">Unlimited Database</li>
    <li class="bullet-item">300GB Storage</li>
    <li class="bullet-item">Unlimited Users</li>
    <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
  </ul>  
</div>


